body{
    background-color: black;
}
.yeah {
    color: rgba(255, 0, 0, 0.479);
    font-size: small;
    font-style: normal;
    width: 200px;
    height: 100px;
    padding:15px;
    align-content: center;
}
img{
    max-width: 75%;
    height: 75%;
}
h2{
    font-size:small;
    color: azure;
}