body{
    background-color: black;
}
.center{
    font-style: normal;
    width: 50%;
    margin:auto;
    padding:15px;
}
h1{
    color:rgb(139, 0, 0);
}
#pencil{
    max-width: 50%;
    height: 50%;
}
h2{
    font-size:small;
    color: darkred;
}